CalcualtionService/src/main/webapp/wsdl/CalculationServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ars.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ars.com" xmlns:intf="http://ars.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ars.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sum">
    <complexType>
     <sequence>
      <element name="op" type="impl:Operand"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Operand">
    <sequence>
     <element name="num1" type="xsd:int"/>
     <element name="num2" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="sumResponse">
    <complexType>
     <sequence>
      <element name="sumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplication">
    <complexType>
     <sequence>
      <element name="op" type="impl:Operand"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicationResponse">
    <complexType>
     <sequence>
      <element name="multiplicationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplicationRequest">

      <wsdl:part element="impl:multiplication" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumRequest">

      <wsdl:part element="impl:sum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumResponse">

      <wsdl:part element="impl:sumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicationResponse">

      <wsdl:part element="impl:multiplicationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculationServiceImpl">

      <wsdl:operation name="sum">

         <wsdl:input message="impl:sumRequest" name="sumRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumResponse" name="sumResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplication">

         <wsdl:input message="impl:multiplicationRequest" name="multiplicationRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicationResponse" name="multiplicationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculationServiceImplSoapBinding" type="impl:CalculationServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculationServiceImplService">

      <wsdl:port binding="impl:CalculationServiceImplSoapBinding" name="CalculationServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/CalcualtionService/services/CalculationServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
